.offer {
    padding-bottom: 5rem;
    font-size: $medium-font-size;
    position: relative;

    @include respond(tab-port) {
        margin: 0 2rem;
    }

    @include respond(phone) {
        padding-bottom: 0;
    }

    &__content {
        position: relative;
        z-index: 5;
    }

    &-title {
        font-size: 3rem;
        letter-spacing: .3rem;
        color: $color-primary;
        animation: slideIn 1s ease-in-out;

        @include respond(tab-port) {
            margin: 0 2rem 2rem;
        }

        @include respond(phone) {
            line-height: 3.5rem;
            letter-spacing: .2rem;
            font-size: 2.5rem;
        }

        &-container {
            padding: 1rem 0;
        }

        &__underline {
            width: 50%;
            height: 3px;
            background-color: $color-primary;

            @include respond(phone) {
                height: 2px;
            }
        }
    }

    &__main {
        margin: 2rem 0;
        font-size: 2.6rem;
        color: $color-primary;
    }

    &__sub {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    &__list {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;

        @include respond(phone) {
            flex-direction: column;
        }

        &-item {
            position: relative;
            width: 49%;
            margin: .5%;
            border-radius: 3px;
            overflow: hidden;
            animation: appear 1s ease-in-out;
            transition: all 1s ease;

            @include respond(phone) {
                width: 98%;
            }

            &-image {
                width: 100%;
                height: 100%;
                transition: all .3s ease;
                margin: 0;
                padding: 0;
            }

            &-description {
                position: absolute;
                left: 50%;
                bottom: 20%;
                transform: translate(-50%, 0);

                text-align: center;
                color: $color-white;
                letter-spacing: .1rem;
                font-size: 2rem;

                width: 100%;
                padding: 1rem;
                background-color: rgba(black, .6);
            }

            &:hover &-image {
                transform: scale(1.1);
            }
        }


    }

    &__image {
        position: absolute;
        height: 40rem;
        top: 10%;
        right: 0;
        opacity: .5;
        pointer-events: none;

        @include respond(phone) {
            height: 40rem;
            width: auto;
            right: 0;
            top: 20%;
            opacity: .3;
        }
    }
}